/*> base button */
button {
	align-items: center;
	border: none;
	color: var(--primary);
	cursor: pointer;
	display: inline-flex;
	height: 100%;
	justify-content: center;
	width: auto;
}

button span {
	font-size: large;
}
/*> special buttons */
#subscribe {
	color: var(--primary-inv);
	font-size: medium;
}

#comment-button {
	background: var(--glass);
}

#menu-bar button {
	height: fit-content;
	width: 64px;
	padding: 1rem 0;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#navigation-bar button {
	padding: 1rem;
}

#button-col button span {
	padding: 0.5rem;
}
/*> button shape */
button.pill {
	border-radius: 5rem;
	height: 2.5rem;
	padding: initial;
	padding-left: 1rem;
	padding-right: 1rem;
}

button.circular {
	aspect-ratio: 1/1;
	border-radius: 50%;
	height: 100%;
	width: auto;
	color: var(--primary);
}

/* > button-size */
button.small {
	align-items: center;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	color: var(--muted);
	display: inline-flex;
	height: 1rem;
	justify-content: center;
	padding: 1rem;
}

button.small .material-icons-round {
	font-size: 0.9rem;
}
button.small.circular {
	aspect-ratio: 1/1;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
}

/*> button-appearance */
button.filled {
	background-color: var(--glass-1);
}

button.transparent {
	background-color: transparent;
}

/*> button-type */
button.text {
	background-color: transparent;
	border: none;
	color: var(--accent);
	cursor: pointer;
	display: flex;
}

/*> button hovers */
button:hover {
	background: var(--highlight);
	color: white;
	filter: brightness(1.3);
}

button.text:hover {
	color: var(--accent);
	filter: brightness(1);
}

#cancel:hover {
	background: transparent;
	color: var(--accent);
	filter: brightness(1.3);
}
