button {
	cursor: pointer;
	color: var(--primary);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: auto;
	border: none;
}

button:hover {
	filter: brightness(0.9);
}

button span {
	font-size: large;
}

.comment button span {
	font-size: 16px !important;
}

#subscribe {
	color: var(--primary-inv);
	font-size: medium;
}

/*> button shape */
button.pill {
	padding-left: 1rem;
	padding-right: 1rem;
	height: 2.5rem;
	border-radius: 5rem;
}
button.circular {
	height: 100%;
	width: auto;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

/* > button-size */
button.small {
	padding: 1rem;
	display: flex;
	height: 1rem;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	background-color: transparent;
	border: none;
	color: var(--muted);
}

button.small.circular {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

button.small:hover {
	background-color: var(--highlight);
}

/*> button-appearance */
button.filled {
	background-color: var(--glass-1);
}
button.transparent {
	background-color: transparent;
}

/*> button-type */

button.text {
	background-color: transparent;
	border: none;
	color: var(--accent);
	cursor: pointer;
	display: flex;
}
