#menu-bar {
	display: flex;
	height: 100%;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	width: fit-content;
	padding: 0 4px;
}

.label {
	font-size: smaller;
}
